.btn {
    text-decoration: none;
    font-family: $font-heading;
    font-weight: bold;
    transition: .3s;

    &__big {
        background-color: $color-secondary-0;
        padding: 1rem 4rem;
        color: black;
        font-size: 3.6rem;
        margin-top: 3.2rem;
        border-radius: 100px;
        &:hover {
            transform: scale(1.1)
        }
    }
}