// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=51l0u0kw0w0jyC+oRxVy4oIDfjr */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FFCD00;
$color-primary-1: #FFE063;
$color-primary-2: #FFD839;

$color-secondary-0: #FFA200;
$color-secondary-1: #FFC663;
$color-secondary-2: #FFB739;
$color-secondary-3: #C57D00;

$primary-color-text: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;