// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=21l0u0kw0w0jyC+oRxVy4oIDfjr */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FFCD00;
$color-primary-1: #FFE063;
$color-primary-2: #FFD839;
$color-primary-3: #C59E00;
$color-primary-4: #9B7C00;

$color-complement-0: #3016B0;
$color-complement-1: #6D5BC4;
$color-complement-2: #4F3AB5;
$color-complement-3: #241088;
$color-complement-4: #1A0A6B;

$primary-color-text:   #FFFFFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;