.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include respond(tab-port) {
        // Media query
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 4rem;
    }

    // Style
    @include sec-padding();
    background-image: linear-gradient(rgba($color-primary-1, 0.9), rgba($color-primary-1, 0.9)), url('assets/images/bg2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;


    &__box {
        grid-column: 2;
        grid-row: 1;
        @include respond(tab-port) {
            // Media query
            grid-column: 1;
            grid-row: 1;
        }

        display: grid;
        grid-auto-rows: min-content;
        justify-items: center;
        align-items: center;
    }

    &__map {
        position: relative;
        width: 100%;
        height: 450px;
        grid-column: 1;
        grid-row: 1;
        @include respond(tab-port) {
            // Media query
            grid-column: 1;
            grid-row: 2;
            height: 300px;
        }
    }

    &__header {
        margin-bottom: 3.2rem;
    }

    &__number {
        font-size: 4.8rem;
        margin-bottom: 3.2rem;
        font-weight: 300;
    }

    &__social {
        margin-top: 3.2rem;
    }

    &__icon {
        width: 45px;
        height: 45px;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }

        &--facebook {
            fill: #3b5998;
        }

        &--instagram {
            fill: #c32aa3;
            margin-left: 2rem;
        }
    }
}