.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;

    @include respond(tab-port) {
        // Media query
        grid-template-rows: 1fr auto;
        grid-template-columns: auto;
    }

    padding: 10rem 6rem;
    @include respond(phone) {
        // Media query
        padding: 8rem 4rem;
    }
    background-color: $color-primary-0;

    &__img {
        width: 100%;
        height: auto;
        border-radius: 7px;
    }
    &__text {
        display: grid;
        grid-template-rows: 1fr auto;
        align-items: center;
        justify-items: center;

        padding: 3rem;
        border-radius: 7px;
    }
    
    &__p {
        margin-bottom: 1rem;
    }
}